{% extends "./plantilla.html" %}
{% block contenido %}
<br>
<h1>Lista de Participaciones</h1>
<table class="table table-bordered table-striped table-hover">
    <tr>
        <th>ID</th>
        <th>FECHA DE REGISTRO</th>
        <th>USUARIO</th>
        <th>EVENTO</th>
        <th>ACCIONES</th>
    </tr>
    {% for participacion in participaciones %}
        <tr>
            <td>{{ participacion.id_participacion }}</td>
            <td>{{ participacion.fecha_registro }}</td>
            <td>{{ participacion.usuario.apellido }} {{ participacion.usuario.nombre }}</td>
            <td>{{ participacion.evento.titulo }}</td>
            <td style="display: flex; justify-content: space-between; font-size: 1.5rem;">
                <a style="margin-left: 25px; color: green;" href="" class="fa-solid fa-pen"></a>
                <a style="margin-right: 25px; color: red;" onclick="return confirm('¿Está seguro?');" href="" class="fa-solid fa-trash"></a>
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}
